*{
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid red; */
}

.Imgs {
    display: flex;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.left{
    min-width: 400px;
}

.bt {
    display: flex;
}

.st {
    writing-mode: vertical-rl;
}

img {
    width: 250px;
}

.containerImg {
    display: flex;
    padding-left: 10px;
}
img{
    border-radius: 20px;
}
.row2{
    display: flex;
    padding-left: 10px;
}
@media (min-width: 720px) {

    .bildet2{
        padding-top: 10%;
        /* padding-left: 57%; */
    }
    .bildet4{
        padding-top: 10%;
        /* padding-left: 57%; */
    }
}
@media (max-width: 719px) {
    .container {
        flex-direction: column;
    }
    .containerImg{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }
    .row2{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        margin-top: 80px;
    }
}
